
<!DOCTYPE html>

<html>

<head>

    <title>about</title>

    <!-- This is a comment, by the way -->

</head>
<style>
    body {
        background-image: url("imagesBackground.png");
            background-repeat:no-repeat;
           background-size:cover;
    } 

</style>


<h1>About Us</h1>

<p>MIT Art Design and Technology University (MIT ADT University) is a place where creativity and innovation coexist. MIT ADT has been established under the prestigious flagship of MIT Group of Institutions. It is a UGC recognized multidisciplinary University and has been bestowed with the ‘Best Campus Award’ by ASSOCHAM. MIT ADT spans across a vast green stretch of 125 acres of land at Vishwaraj baugh Loni, Kalbhor, Pune. One of the most distinct features of this land is that it was previously owned by late Shree Raj Kapoor a celebrated Bollywood actor.</p>
<p>MIT ADT offers multiple courses at under graduate, post graduate and Doctorate levels in Fine Art Design, Management, Marine engineering, Bioscience Engineering, Food Technology, Film and Television as well as Broadcasting and journalism. All of these programs have been crafted in sync with the present industry standards. 4000+ new students get enrolled in these varied courses every year. The strength of the university at present is of 8400+ students and the numbers are increasing by the day.</p>


<p><a href="http://www.mituniversity.edu.in/">Official Website</a></p>


<img src="college.png" width="600" height="450" alt="MIT ADT">



</body>

</html>
