<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hotel Management System</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='map.css') }}">
    </head>
        <body style="background-image: url('../static/back.jpg')">
            <h1><b style = "position:relative;margin-left: 37%; top: 20px; color: black;">Hostel Management System</b></h1>
            <div id="parent">
                <div class = "rect-future">
                        <form action = "/singleadd" method="post">
                            <button type = "submit" name="singleadd" value = "singleadd" style="vertical-align: center; text-align: center; font-weight: 1000; opacity: 1; color:black; font-size: large;">Add a single student's data</button>
                        </form>
                </div>
                <div class = "rect-future">
                        <form action = "/about" method="post">
                            <button type = "submit" name="about" value = "about" style="vertical-align: center; text-align: center; font-weight: 1000; opacity: 1; color: black; font-size: large;">About</button>
                        </form>
                </div>
                <div class = "rect-future">
                        <form action = "/singledel" method="post">
                            <button type = "submit" name="singledel" value = "singledel" style="vertical-align: center; text-align: center; font-weight: 1000; opacity: 1; color: black; font-size: large;">Delete a student's record</button>
                        </form>
                </div>
                <div class = "rect-future">
                        <form action = "/addAll" method="post">
                            <button type = "submit" name="addAll" value = "addAll" style="vertical-align: center; text-align: center; font-weight: 1000; opacity: 1; color: black; font-size: large;">Add data from CSV</button>
                        </form>
                </div>
                <div class = "rect-future">
                        <form action = "/display" method="post">
                            <button type = "submit" name="display" value = "display" style="vertical-align: center; text-align: center; font-weight: 1000; opacity: 1; color: black; font-size: large;">Display hostel's records</button>
                        </form>
                </div>
            </div>
            <div class="mapouter">
                <div class="gmap_canvas rect-future" id = "map">
                    <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=mit%20school%20of%20engineering%2C%20pune&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>  
            </div>
    </body>
</html>